.but{
    margin-left:60px;
    width:150px;
    text-align:justify;
}
.mb-3{
    box-sizing: 40px;
    padding-left: 400px;
   
}
.gold-rate-update{
    box-sizing: 40px;
    padding-left: 40px;
   
}
.table{    
    border: 2px; 
    border-spacing:20px; 
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    
    width: 50px;  
    text-align:center;  
    font-size: 17px;  
}    
.mb{
    text-align:left;
    word-spacing: 5px;
    padding-left: 20px;
    padding-top:15px;
    font-size:20PX;


}
